<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="Настройки">
    <setting id="fanart" type="bool" label="Фанарт" default="true"/>
    <setting id="icons" type="bool" label="Логотип" default="true"/>
    <setting id="epgon" type="bool" label="Программа" default="true"/>
    <setting id="shift" type="enum" label="Смещение программы:" default="3" values="-6ч|-5ч|-4ч|-3ч|-2ч|-1ч|нет|1ч|2ч|3ч|4ч|5ч|6ч"/>
    <setting id="frsup" type="bool" label="Принудительно обновлять список" default="true"/>
  </category>
  <category label="Серверы">
    <setting id="serv1" type="bool" label="Viks.tv" default="true"/>
    <setting id="serv2" type="bool" label="Tivix.net" default="true"/>
  </category>
  <setting id="udata" default="0"/>
</settings>
