<settings>
    <category label="Настройки">
        <setting id="Title Mode" type="enum" label="30001" default="1" values="Ru/En|Ru"/>
        <setting id="Engine"  type="enum" label="30005" default="0" values="ACE engine|Libtorrents|T2Http"/>
        <setting id="UpdLib"  type="bool" label="Переписывать кэш(исправить ошибки в описнии)" default="false"/>
        <setting id="DownloadDirectory" type="folder" label="30008" default=""/>
        <setting id="SaveDirectory" type="folder" label="30009" default=""/>
        <setting id="label" type="folder" label="Сериалы сохраняются через torrent checker! Настройки там." default=""/>
    </category>
    <category label="Поиск">
        <setting id="rutor"     type="bool" label="rutor.org"       default="true"/>
        <setting id="fasttor"   type="bool" label="fast-torrent.ru" default="true"/>
        <setting id="torrentom" type="bool" label="torrentom.com"   default="true"/>
        <setting id="tfile"     type="bool" label="new-tfile.org"   default="true"/>
        <setting id="xtreme"    type="bool" label="xtreme.ws"       default="true"/>
        <setting id="fileek"    type="bool" label="fileek.com"      default="true"/>
        <setting id="tracker"   type="bool" label="tracker.ru"      default="true"/>
        <setting id="krasfs"    type="bool" label="krasfs.ru"       default="true"/>
    </category>
    <category label="Буду смотреть">
        <setting id="F_Qual" type="enum" label="Качество" default="0" values="Любое|Хорошее|Высокое"/>
        <setting id="F_Size" type="enum" label="Размер" default="0" values="Любой|до 1,5 ГБ|1,4-3 ГБ|2,5-6 ГБ|5-10 ГБ| болше 10 ГБ"/>
    </category>
</settings>
        <setting id="SaveDirectory2" type="folder" label="30010" default=""/>
        <setting id="NFO" type="enum" label="30011" default="0" values="Русских|Всех|Нет"/>
        <setting id="dugtor" type="bool" label="dugtor.ru" default="false"/>
