<settings>
    <category label="Настройки">
        <setting id="SaveDirectory" type="folder" label="Путь сохранения фильмов (STRM)"         default=""/>
        <setting id="NFO2"          type="bool"   label="Соxранять описание фильмов (NFO)"       default="true"/>
        <setting id="UpdLib"        type="bool"   label="Переписывать кэш(исправить ошибки в описнии)"              default="false"/>
        <setting id="label"         type="folder" label="Сериалы сохраняются через torrent checker! Настройки там." default=""/>
    </category>
    <category label="Предпочтения">
        <setting id="CutSize"  type="bool"  label="Отбрасывать раздачи одинакового размера"  default="false"/>
        <setting id="SortLst" type="bool"  label="Сортировать раздачи по предпочтениям"  default="true"/>
        <setting id="F_Size1"  type="enum"  label="Размер мин."  default="0"     values="0|1 ГБ|2 ГБ|3 ГБ|4 ГБ|5 ГБ|6 ГБ|7 ГБ|8 ГБ|9 ГБ"/>
        <setting id="F_Size2"  type="enum"  label="Размер макс." default="0" values="Любой|1 ГБ|2 ГБ|3 ГБ|4 ГБ|5 ГБ|6 ГБ|7 ГБ|8 ГБ|9 ГБ|10 ГБ|11 ГБ|12 ГБ"/>
        <setting id="F_Qual"   type="enum"  label="Качество"    default="0" values="Любое|Выбор"/>
        <setting id="F_Qual1"  type="bool"  label="DVDrip"   visible="eq(-1,1)"  default="false"/>
        <setting id="F_Qual2"  type="bool"  label="WEBRip"   visible="eq(-2,1)"  default="false"/>
        <setting id="F_Qual3"  type="bool"  label="WEB-DL"   visible="eq(-3,1)"  default="false"/>
        <setting id="F_Qual4"  type="bool"  label="BDRip"    visible="eq(-4,1)"  default="false"/>
        <setting id="F_Qual5"  type="bool"  label="HDRip"    visible="eq(-5,1)"  default="false"/>
        <setting id="F_Qual6"  type="bool"  label="TVRip"    visible="eq(-6,1)"  default="false"/>
        <setting id="F_Qual7"  type="bool"  label="HDTV"     visible="eq(-7,1)"  default="false"/>
        <setting id="F_Qual8"  type="bool"  label="Blu-Ray"  visible="eq(-8,1)"  default="false"/>
        <setting id="F_Qual9"  type="bool"  label="720p"     visible="eq(-9,1)"  default="false"/>
        <setting id="F_Qual10" type="bool"  label="1080p"    visible="eq(-10,1)" default="false"/>
    </category>
    <category label="P2P">
        <setting id="Engine" type="enum" label="Плеер" default="0" values="ACE engine|T2Http|YATP"/>
        <setting id="DownloadDirectory" type="folder" label="Кэш T2Http" visible="eq(-1,1)" default=""/>
    </category>
</settings>
